{
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-sql",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-astro"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.sql",
      "options": {
        "parser": "sql"
      }
    }
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^astro",
    "^@/(.*)$",
    "^[../]",
    "^[./]",
    "^.+\\.s?css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
