---
import Comment from "./Comment.astro";

type Props = {
  replies: CommentNode[];
};

const { replies } = Astro.props;

const { db } = Astro.locals;

// 从 db.query.comments.findMany 的返回类型推断单条评论类型
type RawCommentsArray = Awaited<ReturnType<typeof db.query.comments.findMany>>;
type RawComment = RawCommentsArray extends Array<infer T> ? T : never;
type CommentNode = RawComment & {
  replies: CommentNode[];
};
---

{
  replies && replies.length > 0 && (
    <>
      {replies.map((reply: CommentNode) => (
        <li class="comment-item">
          <article>
            <Comment comment={reply} />
            {reply.replies && reply.replies.length > 0 && (
              <ol class="comment-replies">
                <Astro.self replies={reply.replies} />
              </ol>
            )}
          </article>
        </li>
      ))}
    </>
  )
}
