---
import { getCollection } from "astro:content";
import { BEI_AN, SITE_TITLE } from "../consts.ts";

const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

// 获取第一篇文章（最早发布的）
const oldestPost = allPosts[allPosts.length - 1];
const firstPostDate = oldestPost.data.pubDate;
---

<footer class="layout-footer">
  © {firstPostDate.getFullYear()}-{new Date().getFullYear()}
  {SITE_TITLE}. ALL RIGHTS RESERVED.<br />
  <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">
    {BEI_AN}
  </a>
</footer>

<style>
  .layout-footer {
    grid-column: 1 / -1;
    background: var(--cell-bg-alt);
    color: var(--text-muted);
    padding: 15px;
    text-align: center;
    font-family: var(--font-pixel10);
    font-size: 10px;
    letter-spacing: 1px;
  }
  @media (max-width: 800px) {
    .layout-footer {
      order: 5;
    }
  }
</style>
