---
import {
  generatePaginationPages,
  getNextPageUrl,
  getPageUrl,
  getPrevPageUrl
} from "../utils/pagination";

type Props = {
  page: number;
  totalPages: number;
  hasPrevPage?: boolean;
  hasNextPage?: boolean;
  prevPageUrl?: string;
  nextPageUrl?: string;
};

const {
  page,
  totalPages,
  hasPrevPage = page > 1,
  hasNextPage = page < totalPages,
  prevPageUrl = getPrevPageUrl(page),
  nextPageUrl = getNextPageUrl(page)
} = Astro.props;

const paginationPages = generatePaginationPages(page, totalPages);
---

{
  totalPages > 1 && (
    <nav class="pagination" aria-label="Pagination">
      {hasPrevPage && (
        <a href={prevPageUrl} class="page-btn">
          [PREV]
        </a>
      )}
      {paginationPages.map((pageNum) => {
        if (pageNum === "...") {
          return <span class="page-dots">...</span>;
        }
        const pageNumber = pageNum as number;
        const pageUrl = getPageUrl(pageNumber);
        return (
          <a
            href={pageUrl}
            class={pageNumber === page ? "page-btn active" : "page-btn"}
          >
            {pageNumber}
          </a>
        );
      })}
      {hasNextPage && (
        <a href={nextPageUrl} class="page-btn">
          [NEXT]
        </a>
      )}
    </nav>
  )
}

<style>
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 20px 0;
    font-family: var(--font-mono);
    font-size: 10px;
    background: var(--cell-bg);
    margin-top: 1px;
  }
  .page-btn {
    border: 1px solid var(--container-bg);
    padding: 4px 8px;
    cursor: pointer;
    color: var(--text-muted);
    background: var(--cell-bg);
  }
  .page-btn:hover,
  .page-btn.active {
    border-color: var(--border-color);
    background: var(--highlight);
    color: var(--highlight-text);
  }
  .page-dots {
    padding: 4px;
  }
</style>
