---
import { ClientRouter } from "astro:transitions";
import Badges from "../components/Badges.astro";
import BaseHead from "../components/BaseHead.astro";
import Calendar from "../components/Calendar.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import Music from "../components/Music.astro";
import Profile from "../components/Profile.astro";
import Settings from "../components/Settings.astro";
import Stats from "../components/Stats.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} />
    <ClientRouter />
  </head>

  <body>
    <div class="container">
      <Header />
      <aside class="cell layout-sidebar-l">
        <Music />
        <Badges />
        <Settings />
        <Stats />
      </aside>
      <main class="cell layout-main" id="main-content-area">
        <slot />
      </main>
      <aside class="cell layout-sidebar-r">
        <Profile />
        <Calendar />
        <Link />
      </aside>
      <Footer />
    </div>
  </body>
</html>
